@charset "utf-8";
/* CSS Document */
div{
	/*高度*/
	height: 100px;
	/*宽度*/
	width: 200px;
	/*边框*/
	border: 1px solid red;
	/*
	background-color: black;
	*/
	background-image: url(../img/20181219185051.jpg);
	background-repeat: repeat-x;
}

/*定义一个类选择器的样式
.样式名称{
 样式属性:样式值;
 样式属性:样式值;
 样式属性:样式值;
}

调用时，使用标签的class属性
*/

.one{
	font-size: 20px;
	font-family:Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	font-weight: 100;
	/* !important强制使用某一个样式，优先级最高 */
	color: red !important;
}

.two{
	color: aqua;
}

/* 多个标签使用同样的样式，中间使用“,”隔开*/
h1,p{
	color: chartreuse;
	font-size: 20px;
	/*不加粗*/
	font-weight: normal;
	background-image: url(../img/20181219185051.jpg);
	background-repeat: repeat-x;
}

/* 定义一个id选择器的样式 
   #样式名称{
 样式属性:样式值;
 样式属性:样式值;
 样式属性:样式值;
}
调用时，使用标签的id属性
*/
#three{
	color: blue;
}

#four{
	font-size: 50px;
}

/*样式只对p标签起作用(id)*/
p#pstyle{
	font-size: 100px;
}

/*样式只对p标签起作用(class)*/
p.pstyleclass{
	font-size: 100px;
}

/*嵌套在div中的span标签才起作用*/
div span{
	color: red;
	font-weight: bold;
}



